*{
    margin: 0;
    padding: 0;
    user-select: none;

}


nav{
    height: 1px;
    padding:50px ;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(10, 10, 37);

}

.logo{
    color: white;
    font-size: 51px;
    font-family: "Brush Script MT", sans-serif;

}

main{
    display: flex;
    height: 84vh;
    
}

.tagline{
    background: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tagline .tagline-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline .tagline-title h1{
    color: rgb(10, 10, 37);
    font-size: 75px;
    font-family: "Brush Script MT", cursive, sans-serif;
    cursor: default;
    transition: transform 0.3s ease;
}

.tagline .tagline-title h1:hover{
    transform: scale(1.5);
}

.auth-div{
    background: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-holder{
    padding-top: 20px;
    width: 400px;
    height: 450px;
    background: rgb(10, 10, 37);;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}

.auth-holder h3{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.auth-holder form{
    width: 75%;
}
.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.input-field input{
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}

.input-field input:focus{
    outline: none;
}

.input-field button{
    height: 40px;
    cursor: pointer;
    background: white;
    font-size: 20px;
    border-radius: 10px;
}

.forgetSigpUp-tag{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.forgetSigpUp-tag a{
    color: blue;
    text-decoration: none;
}

.forgetSigpUp-tag p{
    color: white;
}